<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Ideas para concinar</h1>
            <h3 class="mb-5">
                <em>Tus recetas favoritas en un solo lugar</em>
            </h3>
            <a href="/signup" class="btn btn-primary">Empecemos</a>
        </div>
    </header>
</main>