<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../img/logo.ico" class="img-fluid mx-auto rounded-circle w-50" alt="Home">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Nosotros <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recetas/all">Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ingredientes/all">Ingredientes</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Usuario 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{#if user}}
              <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Mi Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/recetas/add">Añadir Receta</a>
              <a class="dropdown-item" href="/recetas">Mis Recetas</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/ingredientes/add">Añadir Ingrediente</a>
              <a class="dropdown-item" href="/ingredientes">Mis Ingredientes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
              {{else}}
              <a class="dropdown-item" href="/signin">Iniciar Sesion</a>
              <a class="dropdown-item" href="/signup">Registrarse</a>
              {{/if}}
            </div>
          </li>
      </ul>
      
    </div>
  </div>
</nav>