<div class="container p-4">
    <h1 class="text-center">Ingredientes</h1>
</div>
<div class="container p-4">

    <table class="table table-hover animated bounceIn">        
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each ingredientes}}
            <tr>
                <td class="text-uppercase">{{name}}</td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>
