<div class="container p-4">
    <h1 class="text-center">Mis Ingredientes</h1>
</div>
<div class="container p-4">
    
    <table class="table table-hover">        
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each ingredientes}}
            <tr>
                <td class="text-uppercase">{{name}}</td>
                <td>
                    <a href="/ingredientes/delete/{{id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Borrar</a>
                    <a href="/ingredientes/edit/{{id}}" class="btn btn-info"><i class="far fa-edit"></i> Editar</a>
                </td>
            </tr>
            {{else}}
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center">
                        <p>No hay Ingredientes guardados aun.</p>
                        <a href="/ingredientes/add">Crear un ingrediente</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </tbody>
    </table>
</div>